# compiled output
/bin
/pkg
/target
# crate-local outputs
**/bin/
**/pkg/

# env
.env
.cargo/config.toml

# OS
.DS_Store

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.specstory
